*{
    margin: 0;
    padding: 0;
    
}

.text-link {
    padding: 2rem;
    width: 95%;
}
.text-link a{
    text-decoration: none;
    color: #000;
}
.landing-con {
 width: 100vw;
 
}
.underlinee {
    width: 20%;
    height: 1px;
    background-color: rgb(255, 255, 255);
}
.info-con-c  {
    box-shadow: rgb(192, 192, 192) 1px 2px 7px;
}
.landing-img {
 width: 100%;
 height: 80vh;
 position: relative;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
}
.grad-img {
    background-color: black;
    width: 100%;
   height: 100%;
   position: absolute;
   z-index: 1;
   opacity: .8;
}
.img {
    width: 100%;
    height: 100%;
    position: absolute;
    background-attachment: fixed;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }
.banner-img {
  background-color: blue;
  width: 90%;
 height: 100%;

   
}
.con-a a {
    text-decoration: none;
    color: black;
    background-color: white;
}
.landing-text{
    position: relative;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    z-index: 1;
}
.landing-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.landing-text p {
    margin-top: 1rem;
    width: 50%;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.info-cont {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.info {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.image-box {
    width: 100%;
    height: 12rem;
    background-color: blueviolet;
    position: relative;
}

.text-info {
    position: absolute;
    width: 100%;
    padding: 2rem;

}
/*-------------------------------------------------------------------------*/
.tit-in h1{
 font-size: 1rem;
 padding-left: 1rem;
 color: white;
}
.tit-in h1.li-price {
    
    font-size: 1.7rem;
    padding-top: .2rem;
}
/*-------------------------------------------------------------------------*/
.para-text {
    width: 90%;
    padding-top: 1rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.para-text h1 {
    font-size: 1rem;
    
}
.city-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
 
}
.ci {
    padding-top: .5rem;
    display: flex;
}
.ci h1 {
    font-size: 1rem;
    margin-left: .4rem;
}

.con-a {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto, auto, auto;
    justify-content: center;
      align-items: center;
      
} 

.info-head {
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.date {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}
.date-t {
    opacity: .5;
    font-size: .2rem;

}
/*----------------------------------------------------------------------*/
.header-show{
    opacity: 1;
    transform: translateY(0px);
    transition: 1s ;
  }
  .header-hide{
    opacity: 0;
    transform: translateY(100px);
    transition: .8s ;
  }
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
.header-show-text{
    opacity: 1;
    transform: translateX(0px);
    transition: 1s ;
  }
  .header-hide-text{
    opacity: 0;
    transform: translateX(100px);
    transition: .8s ;
  }
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
.header-show-text-u{
    opacity: 1;
    transform: translateX(0px);
    transition: 1s ;
  }
  .header-hide-text-u{
    opacity: 0;
    transform: translateX(-100px);
    transition: .8s ;
  }
/*----------------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width:950px) {
    .con-a{
        
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    .con-a a {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    a .info-con-c {
       width: 70%;
       justify-content: center;
       align-items: center;
       display: flex;
    }
 
}

@media screen and (min-width: 0px) and (max-width:780px) {
    .con-a a {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    a .info-con-c {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
     }
     .text-link {
        padding: 1.4rem;
        width: 85%;
    }
    .text-link a{
        text-decoration: none;
        color: #000;
    }
    .landing-text p {
        margin-top: 1rem;
        width: 70%;
        font-size: 1rem;
        color: rgb(255, 255, 255);
    }
} 