*{
    margin: 0;
    padding: 0;
}
.text-link {
    padding: 2rem;
    width: 95%;
}
.text-link a{
    text-decoration: none;
    color: #000;
}
.landing-con {
 width: 100vw;

}
.info-con-c  {
    box-shadow: rgb(192, 192, 192) 1px 2px 7px;
}
.landing-img {
 width: 100%;
 height: 60vh;
 position: relative;
 justify-content: center;
 align-items: center;
 display: flex;
 flex-direction: column;
}
.grad-img {
    background-color: black;
    width: 90%;
   height: 100%;
   position: absolute;
   z-index: 1;
   opacity: .8;
}
.banner-img {
  background-color: blue;
  width: 90%;
 height: 100%;

   
}
.con-a a {
    text-decoration: none;
    color: black;
   
}
.landing-text{
    position: absolute;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
   
}
.landing-text h1 {
    font-size: 3rem;
}
.info-cont {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.info {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.image-box {
    width: 100%;
    height: 12rem;
    background-color: blueviolet;
    position: relative;
}

.text-info {
    position: absolute;
    width: 100%;
    padding: 2rem;

}
/*-------------------------------------------------------------------------*/
.tit-in h1{
 font-size: 1rem;
 padding-left: 1rem;
 color: white;
}
.tit-in h1.li-price {
    
    font-size: 1.7rem;
    padding-top: .2rem;
}
/*-------------------------------------------------------------------------*/
.para-text {
    width: 90%;
    padding-top: 1rem;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
.para-text h1 {
    font-size: 1rem;
    
}
.city-text {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 90%;
    display: flex;
    flex-direction: column;
 
}
.ci {
    padding-top: .5rem;
    display: flex;
}
.ci h1 {
    font-size: 1rem;
    margin-left: .4rem;
}

.con-a {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto, auto, auto;
    justify-content: center;
      align-items: center;
      
} 

.info-head {
    width: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 0px) and (max-width:950px) {
    .con-a{
        
        margin-top: 1rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        
    }
    .con-a a {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    a .info-con-c {
       width: 70%;
       justify-content: center;
       align-items: center;
       display: flex;
    }
 
}

@media screen and (min-width: 0px) and (max-width:780px) {
    .con-a a {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    a .info-con-c {
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
     }
} 