.listing-con {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.landing-con {
    width: 100vw;
   
   }


   .banner-img {
     background-color: blue;
     width: 90%;
     height: 100%;
     
      
   }
   .landing-text{
       position: absolute;
       width: 90%;
       height: 100%;
       justify-content: center;
       align-items: center;
       display: flex;
       flex-direction: column;
       color: rgb(255, 255, 255);
       
       
   }
   .form {
       width: 100%;
       justify-content: center;
       align-items: center;
       display: flex;
       flex-direction: column;
   }
  .form form {
    width: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
   
   }
   .gen {
    
    width: 100%;
   
   }
   .sect {
    box-shadow: rgb(192, 192, 192) 1px 2px 7px;
   }
   .gen h1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background-color: rgb(233, 233, 233);
    margin-top: 1rem;
   }
   .gen-info {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
    
   }
   .in {
    
    display: flex;
   }
   
   label {
       padding-bottom: 1rem;
       padding-top: 1rem;
   }
   .in-con-c input {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(199, 198, 198);
    padding: .3rem;
   }
  .in-con input {
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid rgb(199, 198, 198);
      padding: .3rem;
      
  }
   select {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(199, 198, 198);
    padding: .3rem;
    
}
  textarea {
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid rgb(199, 198, 198);
    padding: .3rem;
    
}
.prop-rent {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.in-con {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.in-con-c {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.pri {
    width: 90%;
}
.a {
    display: flex;
    width: 100%;
}
.sq {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.bt {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (min-width: 0px) and (max-width:950px) {
    .rooms {
        width: 90%;
        display: flex;
       
        flex-direction: column;
    }
    .in-con {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .prop-rent {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}