.more-con{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}
.more {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
h1{
    font-size: 1.2rem;
}
.img-con {
    width: 100%;
    height: 100vh;
    background-color: blue;
}
.info-con-more{
    position: absolute;
    height: 80%;
 
    display: flex;
    flex-direction: column;
    width: 90%;
}
.info-more{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bath-bed{
    
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 80%;
}
.city-zip-sta {
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.loca {
    margin-left: 2rem;
}
.city-zip-sta .city{
    margin-right: .5rem;
}
.city-zip-sta .sta{
    margin-right: .5rem;
}
.city-zip-sta .zip{
    margin-right: .5rem;
}
.price h1{
    float: right;
    margin-right: 2rem;
    font-size: 2rem;
    padding: 1rem;
}
.re {
    
    display: flex;
    flex-direction: column;
    width: 30%;
    
}
.address h1{
  font-size: 1.6rem;
  padding: 1rem;
}
.underline {
    width: 100%;
    height: 1px;
    background-color: black;
}

.int {
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    background-color: black;
    width: 100%;
   
}

.des {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 90%;
   
}
.details {
    background-color: white;
    width: 65%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    
}
.detail-con {
    justify-content: space-around;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.bath-con {
   
   
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.contact-form {
  
    width: 35%;
    
    justify-content: center;
    align-items: center;
    display: flex;
   
    flex-direction: column;
}
.contact-form form {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.contact-form form input{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 60%;
    flex-direction: column;
    font-size: .7rem;
    padding: .4rem;
    border-radius: 5px;
} 
.form-img {
   position: absolute;
}

.c-form {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: transparent;
}
.c-form h1 {
    font-size: 2rem;
    color: cornsilk;
}
.contact-form form .label label{
    margin: 1rem;
    color: white;
    
}
.contact-form form .label {
    margin: 1rem;
    width: 85%;
    
}
.bed-con {
    
  
    display: flex;
    flex-direction: column;
    width: 50%;
    
}
.full-bath-more {
   
    display: flex;
    width: 100%;
}
.bed-more {
  
    display: flex;
    width: 100%;
}
.half-bath-more {
   
    display: flex;
    width: 100%;
}
.base-more h1 {
    margin-right: .3rem;
}
.base-more {
  
    display: flex;
    width: 100%;
}
.sell-con {
    
      margin-left: 5rem;
    display: flex;
    width: 100%;
    padding-top: 1rem;
}
.b {
    display: flex;
    width: 50%;
}
.p {
    display: flex;
    width: 50%;
}
.inti h1{
    font-size: 1rem;
    color: rgb(0, 0, 0, 0.8);
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
.gr {
    width: 100%;
    margin-left: 5rem;
    padding-top: 1rem;
}
/*----------------------------------------------------------*/
.inti {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 90%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn-con {
    float: left;
    margin-top: 1rem;
}
.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    margin: 2rem;
}
.btn-con {
  
    display: flex;
    width: 80%;
}
.btn-con a{
  margin: .2rem;
}
button {
    padding-bottom: .4rem;
    padding-top: .4rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border: none;
    background-color: coral;
}


.drop-hide{
  
    display: none;
    
  }
   .drop-show-more{
    
    display: flex;
 

    
  }


/*-----------------------------------------------------*/
.more-t h1{
    font-size: 1rem;
   font-weight: lighter;
   padding-left: .4rem;
   margin-bottom: .5rem;
}
.tx {
    font-weight: bold;
}

.drop-sell h1{
    font-size: 1rem;
    font-weight: lighter;
    padding-left: .4rem;
}
@media screen and (min-width: 0px) and (max-width:1000px) {
    .img-con {
        width: 100%;
        height: 70vh;
        background-color: blue;
    }
    .int {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
       
        background-color: transparent;
        width: 100%;
    }
    .contact-form {
        
        width: 100%;
    
       
        justify-content: center;
        align-items: center;
        display: flex;
        
        flex-direction: column;
    }
    .c-form {
        border: rgb(180, 180, 180) 1px solid;
        width: 100%;
        padding: 2rem;
        background-color: teal;
    }
    .c-form h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .c-form {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
       
    }
    .des {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 80%;
       background-color: transparent;
      
    }
    .details {
        background-color: transparent;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
       
        flex-direction: column;
    }
  
    .re {
    
        display: flex;
        flex-direction: column;
        width: 50%;
        
    }
    .bath-bed{
    
      float: right;
        width: 100%;
    }
}
@media screen and (min-width: 0px) and (max-width:700px) {
    .info-more{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .int {
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
       
        
        width: 100%;
    }
    .des {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 80%;
       background-color: transparent;
      
    }
    .details {
        background-color: transparent;
        width: 100%;
        padding: 1rem;
    }
    .price h1{
        font-size: 1.6rem;
    }
    .re {
    
        display: flex;
        flex-direction: column;
        width: 40%;
        
    }
    .city-zip-sta {
        justify-content: none;
        align-items: none;
        display: flex;
        
    }
    .address h1 {
        font-size: 1.5rem;
    }
    .loca {
        margin-left: 0;
    }
    .bath h1, .bed h1, .sqft h1{
      font-size: 1rem;
      
    }
    .city-zip-sta .city h1{
        font-size: 1rem;
    }
    .city-zip-sta .sta h1{
        font-size: 1rem;
    }
    .city-zip-sta .zip h1{
        font-size: 1rem;
    }
    .full-bath-more {
       
        display: flex;
        width: 100%;
    }
    .bed-more {
        
        display: flex;
        width: 100%;
    }
    .half-bath-more {
     
        display: flex;
        width: 100%;
    }
    .base-more h1 {
        margin-right: .3rem;
    }
    .base-more {
     
        display: flex;
        width: 100%;
    }
    .inti h1{
        font-size: 1rem;
        color: rgb(0, 0, 0, 0.8);
        margin-bottom: .5rem;
        margin-top: .5rem;
        
    }
}

@media screen and (min-width: 0px) and (max-width:550px) {
    .info-more{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .c-form {
        border: none;
        width: 100%;
        padding: 2rem;
    }
    .int {
        justify-content: space-around;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 2rem;
        
        width: 100%;
    }
    .des {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 80%;
       background-color: transparent;
       margin-bottom: 2rem;
    }
    .details {
        background-color: transparent;
        width: 96%;
        padding: 1rem;
    }
    .price h1{
        font-size: 1rem;
    }
    .re {
    
        display: flex;
        flex-direction: column;
        width: 40%;
        
    }
    .city-zip-sta {
        justify-content: none;
        align-items: none;
        display: flex;
        
    }
    .address h1 {
        font-size: 1rem;
    }
    .loca {
        margin-left: 0;
    }
    .bath h1, .bed h1, .sqft h1{
      font-size: 1rem;
      
    }
    .city-zip-sta .city h1{
        font-size: 1rem;
    }
    .city-zip-sta .sta h1{
        font-size: 1rem;
    }
    .city-zip-sta .zip h1{
        font-size: 1rem;
    }
    .bath-bed{
    
        float: right;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .bath, .bed, .sqft {
        
        display: flex;
    }
    .bath h1, .bed h1, .sqft h1{
        
        margin: .1rem;
    }
}